@import url('./css/fonts.css');

html, body {
  margin: 0%;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: var(--Lexend);
}

:root {
    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;
    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    /*      theme font-family   */
    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}

body {
  background-image: url('../assets/Background-image.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--midnight);
}

/* global*/
a {
  text-decoration: none;
  color:#000;
}

ul {
  list-style-type:none;
}

hr {
  margin: 5vh 0;
}

.flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container {
  padding:4rem 4rem;
}

/*navbar*/
.nav img {
  height:3vw;
}

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--midnight);
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}

.nav .social {
    padding: 1.4rem 0
}

.nav .social i {
    padding: 0 .2rem;
}

.nav .social i:hover {
    color: #a1c4cf;
}

/*berita populer*/
.news-popular ol{
  display:flex;
  font-weight: bold;
}

.news-popular .left {
  margin-right:5%;
}

.news-popular .right {
  margin-left:5%;
}

/*profil*/
.container {
  background-color: white;
  margin: 0 auto;
  margin-top:2vw;
  display: block;
  width:80%;
}

.container h1 {
  text-align: center;
}

.container p {
  max-width:50vw;
  margin: 0 auto;
}

.container .header img {
  border-radius: 50%;
  width:150px;
  height:150px;
  object-fit: cover;
  margin:0 auto;
  display: block;
}

.container a {
  text-decoration: none;
  color:#4C5464;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 2vw;
}

.container a:hover {
  text-decoration: underline;
}

.navigasi {
  text-align: center;
  padding-bottom: 1vw;
}

.navigasi a {
  color:#000;
  font-size: 2vw;
  margin:0 auto;
  padding:1vw;
}

.navigasi .suka {
  background-color: var(--midnight);
  color:#fff;
}

.navigasi a:hover {
  background-color: #acd1d5;
  color:#000;
  text-decoration: none;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

/*berita*/
.artikel hr {
  color: var(--white);
  border-color: inherit;
}

.news {
  display: flex;
}

.news h2 {
  font-family: var(--Anton);
}

.news img {
  width:32vw;
  height:18vw;
  overflow: hidden;
  object-fit: scale-down;
  margin-right: 5vw;
}

.news .text {
  margin-top: 0;
}

.news .post-info span {
  padding-right: 1.5rem;
}

.news .post-info .delete {
  background-color: #C1312D;
  border: none;
  color: var(--white);
  padding: 0vw 0.3vw;
  text-align: center;
  border-radius: 10%;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
}

.news .post-info .delete:hover {
  background-color: #910A29;
}

.news .post-info {
  padding-bottom:1rem;
}


@media only screen and (max-width: 520px){
  .container .header img {
    width:80px;
    height:80px;
  }

  .container {
    width:100%;
  }

  .news img {
    display: none;
  }

  .news .text p {
    display: none;
  }

  .navigasi a {
    font-size: 3vw;
  }
}
